<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>conv</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.0.3/jquery.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="app">
        <form onsubmit="return false;">
            <div class="form-group">
                <label for="origin">需要转换的代码</label>
                <textarea id="origin"  class="form-control" v-model="origin" @keyup="change" @change="change" placeholder="请粘贴代码"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success" @click="gen" style="width: 100%">生成</button>
            </div>
        </form>
        <div v-if="show">
            <form onsubmit="return false">
                <label for="target">转换完成的代码</label>
            <textarea id="target" class="form-control">{{ text }}</textarea>
                </form>
        </div>
    </div>
</div>
<script>
    Vue.component('show-data',{
        template:''
    });
    var app = new Vue({
        el:'.app',
        data: {
            origin: '',
            show: false,
            result: {
                name: '',
                price:'',
                coupon:'',
                code: ''
            },
            text:'',
        },
        methods:{
            change:function(){
                this.show = false
            },
            gen:function () {
                var self = this;
                var code = self.origin.match(/￥.*?￥/)
                console.log("code",code);
                if(code.length>0){
                    self.result.code = code[0]
                }
                var info = self.origin.match(/【(.*?)】/)
                console.log("info",info);
                var tmp = info[1].split('  ');
                console.log('tmp', tmp)
                if(tmp.length > 0){
                    self.result.name = tmp[0].replace(/\./g,'')
                    var t2 = tmp[1].split('，')
                    if(t2.length > 1){
                        self.result.price = t2[0]
                        self.result.coupon = t2[1]
                    }else{
                        self.result.price = tmp[1]
                    }
                }
                self.text = '【商品】'+self.result.name+'\n' +
                        '【价格】'+self.result.price+'\n' +
                        '【优惠券】'+self.result.coupon+'\n' +
                        '【淘口令】'+self.result.code+'\n';

                self.show = true

            }
        }
    });
</script>
<style>
    textarea.form-control{
        min-height: 200px;
    }
</style>
</body>
</html>